@font-face {
    font-family:cocogoose;
    src: url(./cocogoose_pro_light-trial-webfont.woff);
}
*{
    font-family: cocogoose;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#farol{
display: flex;
justify-content: center;
height: 421px;
width:184px;
}

.painel{
    height: 90vh;
    width: 90vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.controle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.botões{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#botao{
    display: flex;
    justify-content: center;
}

.botãoGeral{
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: none;
    margin-bottom: 2px;
}
#vermelho{
    background-color: red;
}
#amarelo{
    background-color: yellow;
    color: wheat;
}
#verde{
    background-color: green;
}
#desligado{
    background-color: grey;
}
#automatico{
    background-color: black;
}